<div class="modal-dialog">
  <div class="modal-content">
  <div class="modal-header">
    <h3>Borrar Marca</h3>
  </div>
  <div class="modal-body">
  <ul class="errors"></ul>
  Esta seguro que desea borrar la marca <b><%= @trademark.name %></b>?
  </div>
  <div class="modal-footer">
    <%= link_to "Si, Borrar", trademark_path(@trademark), method: :delete, remote: true, class: "btn btn-danger" %>
    <%= link_to "Cancelar", "#", class: "btn btn-default", data: { dismiss: "modal" } %>
  </div>
  </div>
</div>
