<h1>Marcas</h1>
<div class="container">
  <div class="well">
    <%= link_to "New Trademark", new_trademark_path, remote: true, class: "btn btn-primary" %>
  </div>
  <div class="new-trademark"></div>
  <%= will_paginate %>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </thead>
    <tbody class="trademark-index">
      <%= render "index" %>
    </tbody>
  </table>
</div>
<div id="trademark-modal" class="modal fade"></div>
