<% provide(:title, "About") %>
<h1>About</h1>
<p>
Aplicación desarrollada en Rails como trabajo final para la materia
Taller de Tecnologías de Producción de Software - Opción Ruby (2014)
</p>
<p>
Profesor: Christian Rodriguez
</p>
<p>
Alumno: Agustin Cipollone (9226/0) | agustincipollone@gmail.com
</p>