<% if @products.any? %>
	<% if logged_in? && current_user.admin? %>
		<p><%= link_to "Nuevo producto", new_product_path, class: "btn btn-lg btn-primary", id:"new-product"%></p>
	<%end%>
  <h3>Lista de Productos (<%= @products.count %>)</h3>
  <%= will_paginate @products %>
	<%= render 'products_list/products_table'%>
	</div>
<% end %>
