<% provide(:title, @user.name) %>
<div class="row">
  <% if @products.any? %>
    <h3>Productos (<%= @products.count %>)</h3>
    <ol class="products">
      <%= render @products %>
    </ol>
    <%= will_paginate @products %>
  <% end %>
</div>