<li>
  <%= link_to category.name, edit_category_path(category) %>
  | <%= link_to "Eliminar", category, method: :delete,
                                  data: { confirm: "¿Estás seguro?" } %>
</li>
