<% provide(:title, 'Nueva Categoria') %>
<% provide(:button_text, 'Añadir Categoria') %>
<div class="row">
	<aside class="col-md-6 col-md-offset-3">
			<section class="categories_form">
				<%= render 'form' %>
		 	</section>
	</aside>
</div>
