<% provide(:title, 'Nuevo producto') %>
<% provide(:button_text, 'Crear producto') %>
<div class="row">
	<aside class="col-md-6 col-md-offset-3">
			<section class="product_form">
				<%= render 'form' %>
		 	</section>
	</aside>
</div>