<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <% (1..@offers.count).each do |i| %>
      <li class="" data-target="#myCarousel" data-slide-to=<%=i%>></li>
    <% end %>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="container">
        <div class="carousel-caption">
          <h1>Bienvenido a AC Informática.</h1>
          <% if !logged_in? %>
            <p>Registrese hoy mismo para poder comprar productos al mejor precio través de mercado pago. También podrá suscribirse para recibir las ofertas mas recientes en su cuenta de correo.
            </p>
            <p> 
              <%= link_to "Registrate ahora!", signup_path, class: "btn btn-lg btn-primary"%>
            </p>
          <% end %>
        </div>
      </div>
    </div>
    <%for offer in @offers%>
      <%= div_for(offer, class: "item") do %>
        <% link_to(offer, class: "link_offer") do %>
          <%= image_tag offer.cover_picture if offer.cover_picture? %>
        <%end%>
      <%end%>
    <%end%>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
